*human.transcripts*
*scer.transcripts*
*.fold
*.27.31.*
*.27.29.*
*.28.28.*
*.footprints.bowtiestats
*.footprints.sam
*.ncrna.bowtiestats
*.ncrna.sam
*.rrna.bowtiestats
*.rrna.sam
*.genes.results
*.isoforms.results
*.rsem.stderr
*.stat
*.fastq
*.transcript.bam
*.transcript.sam
*.transcript.mapped.sam
*.transcript.mapped.wts.sam
*lasagne_nn
*linreg
*plots
